* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem auto;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.container__title {
  font-size: 3rem;
  margin: 0.5rem auto;
}
.container__line {
  color: #d4d4d4;
}
.container__controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}
@media (max-width: 500px) {
  .container__controls {
    flex-direction: column;
  }
}
.container__subtitle{
  margin: 0.5rem 0;
}
.container__btn {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
}
.container__btn:hover {
  opacity: 1;
}
.container__btn_combined {
  background: #d9f1fd;
  border: 1px solid #6c94a7;
  color: #6c94a7;
}
.container__btn_regular {
  background: #def7ef;
  border: 1px solid #3ab48a;
  color: #3ab48a;
}
@media (max-width: 500px) {
  .container__btn_regular {
    margin-bottom: 0.5rem;
  }
}
.container__btn_danger {
  background: #ffeae9;
  border: 1px solid #f44336;
  color: #f44336;
}
.container__field {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.container__input {
  width: 100%;
  margin-right: 0.5rem;
  border-radius: 3px;
  border: 1px solid #d4d4d4;
  padding-left: 1rem;
  padding-right: 0.2rem;
  outline: none;
}
.container__list {
  display: block;
}
.container__item {
  margin: 0.5rem 0;
  padding: 0 1rem;
  border-bottom: 1px dotted #d4d4d4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container__text {
  margin: 1rem 0;
}
